/* some includes and overides for bootstrap */

.navbar-inverse .navbar-text {
	color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover {
	text-decoration: underline;
}
.navbar-inverse .navbar-link,
.navbar-inverse .navbar-text,
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus { 
	color: #fff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
	color: #fff; background-color: #8e44ad;
}

.navbar{
	background-color: #7E4E99;
 	min-height: 0px;
 	border-bottom: none;
 	margin-bottom: 0px;
 	font-size: 16px;
 }

.navbar-fixed-top .navbar-brand, .navbar-header, .navbar-right, .navbar-brand>img {
 	height: 40px;
}
.navbar-fixed-top .navbar-brand {
 	padding:0px;
}

.navbar-brand>img{
	padding: 0px;
	width:auto;
}

.navbar-nav>li>a{
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse
.navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #a379bb; 
	font-weight: 500;
}

.navbar-inverse .navbar-nav>li>a{
	color: #ddd;
}

.join-us .nav.navbar-nav #join-us-nav,
.index .nav.navbar-nav #index-nav,
.about .nav.navbar-nav #about-nav,
.press .nav.navbar-nav #press-nav,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
	color: #fff;
	background-color: #a379bb; 
}
