@font-face { font-family: 'Varela Round'; src: url('../fonts/VarelaRound-Regular.otf') format('opentype'); font-weight: normal; font-style: normal; }
body { font-family: "Varela Round", sans-serif; font-size: 15px; line-height: 1.42857143; color: #222222; background-color: #ffffff; }
a:hover { color: #713b87; } 
ul {list-style: none;}

/* helpers */
.inline {display: inline;}
.padding-zero{padding: 0;}
.margin-zero {margin: 0;} 
.padding-left-small {padding-left: 2em;}
.margin-top-md { margin-top: 12%; }
.padding-top-sm { padding-top: 5px; } 
.smaller-header {font-size: 2.678rem;}
.wecycler-color, a { color: #9B59B6; } 
.wecycler-color-deeper { color: #713b87; }
.margin-bottom-small { margin-bottom: 10px; }
.margin-bottom-md { margin-bottom: 20px; }
.padding-bottom-sm { padding-bottom: 5px; } 
.container-padding-top-md {padding-top: 3.2em;}
.smaller { font-size: 95%; font-weight: lighter; }
#content .margin-bottom-zero.container, .margin-bottom-zero { margin-bottom: 0; }

/* content */
#content .container { margin-bottom: 20px; }
#content p { text-align: justify; }

/* carousel section */
#myCarousel, .carousel { margin-bottom: 20px; }
.container.caption-background .carousel-caption { left: 0%; right: 0%; text-align: left; width: 100%; padding: 0 2%; margin: 0; background: rgb(0, 0, 0) transparent; background: rgba(0, 0, 0, 0.6); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; }

/* icons */
i { padding: 0 10px 0 0; color: #ECF0F1; }
.size-32 { font-size: 32px; }
.inline-icon {  padding-right: 30px; width: 10%; }
.icon-text { color: #ecf0f1; }

/*our impact*/
#our-impact.row {margin: 0;}
#our-impact img {
  min-width: 100%;
  max-width: 100%;
}

/* sponsors section */
#sponsors {background-color:#bb8ecd; padding-top:10px; background-position:center bottom; background-repeat:no-repeat; padding-bottom:8px; background-image: url('../images/bgline.png'); }
#sponsors .row { padding: 0; }
#sponsors .container.two { margin-top: 5px; margin-bottom: 5px; }
.sponsor-heading { color: #666666; }
.sponsor { padding: 0 20px; }
.sponsor img {max-height: 80px; max-width: 120px; }

/*the team*/
.the-team a img {
  max-height: 180px;
  max-width: 150px;
}

@media(min-width:480px) {
  .margin-top-md { margin-top: 9%; }
}

@media(min-width:768px) {
  .margin-top-md { margin-top: 4%; }
  .margin-bottom-md { margin-bottom: 40px; }
  .col-sm-offset-1,.col-md-offset-1{margin-left:8.33333333%} .col-sm-offset-2,.col-md-offset-2{margin-left:16.7777777%}
  .col-sm-offset-3,.col-md-offset-3{margin-left:24.9999999%} .col-sm-offset-4,.col-md-offset-4{margin-left:33.3333333%}
}

