@font-face { font-family: 'Varela Round'; src: url('../fonts/VarelaRound-Regular.otf') format('opentype'); font-weight: normal; font-style: normal; }
body { font-family: "Varela Round", sans-serif; font-size: 15px; line-height: 1.42857143; color: #222222; background-color: #ffffff; }
a:hover { color: #713b87; } 

/* some includes and overides for bootstrap */
.navbar-fixed-top .nav { padding: 5px 0px; }
.navbar-inverse .navbar-text { color: #ffffff; }
.navbar-fixed-top .navbar-brand { padding: 0 5px; }
.navbar-inverse .navbar-nav > li > a:hover{text-decoration: underline;}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand, .navbar-inverse .navbar-link, .navbar-inverse .navbar-text,.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus { color: #fff; }
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus { color: #fff; background-color: #8e44ad; }

/* helpers */
.wecycler-color, a { color: #9B59B6; } 
.wecycler-color-deeper { color: #713b87; }
.smaller { font-size: 95%; font-weight: lighter; }
.smaller-header {font-size: 2.678rem;}
.padding-zero{padding: 0;}
.margin-zero {margin: 0;} 
.margin-top-md { margin-top: 12%; }
.margin-bottom-md { margin-bottom: 20px; }
.padding-top-sm { padding-top: 5px; } 
.padding-bottom-sm { padding-bottom: 5px; } 

/* content */
#content .container { margin-bottom: 20px; }
#content p { text-align: justify; }

/* carousel section */
#myCarousel, .carousel { margin-bottom: 20px; }
.container.caption-background .carousel-caption { left: 0%; right: 0%; text-align: left; width: 100%; padding: 0 2%; margin: 0; background: rgb(0, 0, 0) transparent; background: rgba(0, 0, 0, 0.6); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; }

/* icons */
i { padding: 0 10px 0 0; color: #ECF0F1; }
.size-32 { font-size: 32px; }
.inline-icon {  padding-right: 30px; width: 10%; }
.icon-text { color: #ecf0f1; }

/*our impact*/
#our-impact.row {margin: 0;}
#our-impact img {
  min-width: 100%;
  max-width: 100%;
}

/* sponsors section */
#sponsors {background-color:#bb8ecd; padding-top:10px; background-position:center bottom; background-repeat:no-repeat; padding-bottom:8px; background-image: url('../images/bgline.png'); }
#sponsors .row { padding: 0; }
#sponsors .container.two { margin-top: 5px; margin-bottom: 5px; }
.sponsor-heading { color: #666666; }
.sponsor { padding: 0 20px; }
.sponsor img {max-height: 80px; max-width: 120px; }

/* footer */
footer { background-color: #9b59b6; color: #fff;}
footer .row { margin: 0; padding: 0; padding-bottom: 10px; }
footer h3, .footer h3 {font-weight: bolder;}
footer a, .footer a { color: #fff; } 
.copyright {margin-top: 10px; border-top: 1px solid #bb8ecd; text-align: center;}

@media(min-width:480px) {
  .margin-top-md { margin-top: 9%; }
}

@media(min-width:768px) {
  .margin-top-md { margin-top: 4%; }
  .margin-bottom-md { margin-bottom: 40px; }
  .navbar-fixed-top .nav, .navbar-fixed-top .navbar-brand { padding: 5px 0; }
  .col-sm-offset-1,.col-md-offset-1{margin-left:8.33333333%} .col-sm-offset-2,.col-md-offset-2{margin-left:16.7777777%}
}

